
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }

    .parcial, .final, .continua, .promedio{
      max-width: 30px;
    }
    .celular{
      max-width: 90px;
    }

    #footer{
      background-color: #0E78F0;
      color: white;
  }

  #banner{
    background-image: url('./images/fondo-final-pagina-central.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
  }